.App
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

circle
{
    fill: white;
}

text
{
    text-shadow: 1px  1px 1px white,
                 1px -1px 1px white,
                -1px  1px 1px white,
                -1px -1px 1px white,
                 2px  2px 1px white,
                 2px -2px 1px white,
                -2px  2px 1px white,
                -2px -2px 1px white;
}